/* CalilRender */
/* list */

.calil_searching {
    background-repeat: no-repeat;
    padding: 3px;
    width: 8em;
    font-size: 85%;
    text-align:center;
}
/* .calil_status {
    color:white;
    display: inline-block;
    padding: 3px;
    width: 8em;
    font-size: 85%;
    text-decoration:none;
    text-align:center;
}
 */
.calil_nijumaru {
    background-color: #339AFC;
}
.calil_maru {
    background-color: #5CC00F;
}
.calil_sankaku {
    background-color: #F29327;
}
.calil_marukannai {
    background-color: #EC6A8C;
}
.calil_batu {
    background-color: #D4D4D4;
}
.calil_minus {
    background-color: #D4D4D4;
}
.calil_nothing {
    background-color: #AAAAAA;
}

/* single */

.calil_system_status {
    text-decoration:none;
    color:black;
    padding: 2px;
}

.calilay_searching {
    background-color:#FFA544;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

.calil_status {
    padding:0;
    text-align:center;
    white-space:nowrap;
}
.calil_libname {
    color: white;
    padding: 2px 2px;
    border-radius:4px;
    background-color:#00ABFF;
    float:left;
    margin-bottom:2px;
    margin-right:2px;
    min-width:3em;
    text-align:center;
    white-space:nowrap;
}

.calil_reserve {
    float:left;
    height: 100%;
    text-align:center;
    padding:2px 5px 2px;
    margin-bottom:2px;
    margin-right:2px;
}

.calil_reserve a{
    color: white;
    border-radius:4px;
    border:1px solid #BFB700;
    background-color: #E9E900;
    background: linear-gradient(center top , #F9F900, #BFB700);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    text-decoration:none;
    padding:2px 5px 2px;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    text-align:center;
    font-size:1.2em;
}

.calil_reserve a:active, .calil_reserve a:link{
    color: white;
}

.calil_libsys {
    border-radius:4px;
    background-color:#E4E4E4;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 2px;
    font-size:0.7em;
    float: left;
}

.calil_clear {
    clear: both;
}

.calil_libname a {
    color: white;
}

/* CalilCitySelectDlg */

#calil_place_dialog_wrapper {
    display: none;
    position: absolute;
    top : 0;
    left : 0;
}

#calil_place_dialog {
    display: none;
    position : absolute;
    padding : 0 10px 10px 10px;
    top : 0;
    left : 0;
    background-color: white;
    width: 460px;
    border: 5px solid #999;
    border-radius: 10px;
    font-size: 90%;
}
#calil_place_dialog a {
    color:black;
}
.calil_pref_list {
    height:300px;
    overflow:auto;
}
.calil_city_list .calil_yomi_block{
    border-bottom:1px solid #26BEFF;
    clear:both;
    height:5px;
}
.calil_city_list .calil_yomi{
    float:left;
    clear:both;
    width:1.3em;
    height:1.3em;
    margin-right:7px;
    background-color:#26BEFF;
    color:white;
    text-align:center;
    padding:3px 2px 2px 3px;
}
.calil_city_list .calil_cities{
    float:left;
    width:410px;
    line-height:130%;
    padding-top:1px;
}

.calil_cities .calil_city_part{
    display:inline-block;
    min-width:4em;
    white-space:no-wrap;
    margin-right:10px;
    padding:2px 4px;
    text-decoration:none;
}

.calil_cities a:hover{
    color: white !important;
    background-color: #26BEFF;
}
